@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .background {
        background-size: 100% 40%;
        background-image: url(../images/pattern-bg.png);
        background-repeat: no-repeat;
    }
}